.container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 746px) minmax(0, 100%);
    //height: 100vh;
    height: calc(100vh - 112px);
    position: relative;
//overflow: hidden;

  //  background-color: orange;
}